@media screen and (min-width: 40em) {
    .content-area {
        float: left;
        width: $size__site-main;
    }
    
    .widget-area {
        float: right;
	overflow: hidden;
	width: $size__site-sidebar;
    }
    
    .widget {
        margin-left: 1em;
    }
}

@media screen and (min-width: 60em) {
    .site-content {
        padding-left: 3em !important;
        padding-right: 3em !important;
    }
}

@media screen and (min-width: 70em) {
    .site-content {
        padding-left: 5em !important;
        padding-right: 5em !important;
    }
}

@media screen and (min-width: 80em) {
    .site-content {
        padding-left: 7em !important;
        padding-right: 7em !important;
    }
}

@media screen and (min-width: 90em) {
    .site-content {
        padding-left: 9em !important;
        padding-right: 9em !important;
    }
}

@media screen and (min-width: 100em) {
    .site-content {
        padding-left: 12em !important;
        padding-right: 12em !important;
    }
}

@media screen and (min-width: 110em) {
    .site-content {
        padding-left: 15em !important;
        padding-right: 15em !important;
    }
}

@media screen and (min-width: 115em) {
    .site-content {
        padding-left: 18em !important;
        padding-right: 18em !important;
    }
}

.site-footer {
    clear: both;
    width: 100%;
    text-align: center;
    background-color: #000;
    font-family: $font__headings;
    color: #fff;
    padding: 1em;
    font-size: .9em;
    a {
        font-weight: 500;
    }
    @media screen and (min-width: 40em) {
        font-size: 1.125em;
    }
}