button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
        border: 0px solid;
	border-color: #000;
	border-radius: 0;
	background: #fff;
	color: #000;
	font-family: 'Fira Sans', sans-serif;
	padding: .7em 1em .7em 1em;

	&:hover {
        }

	&:active,
	&:focus {
	}
}