.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.post-thumbnail {
    float: right;
    height: auto;
    padding-bottom: 1em;
}

@media screen and (min-width: 40em) {
    .attachment-custom_thumb {
        margin-left: 10px;
        width: 12em;
    }
}

@media screen and (min-width: 70em) {
    .attachment-custom_thumb {
        margin-left: 10px;
        width: 20em;
    }
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";