#secondary {
    background-color: #eee;
}

.textwidget {
    margin-bottom: -1em;
}

.widget {
    background-color: #fff;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    /* Make sure select elements fit in widgets. */
    select {
            max-width: 100%;
    }

    .widget-title {
        margin: -1em -1em 1em -1em;
        font-weight: normal;
        font-size: 1em;
        background-color: #000;
        color: #fff;
        padding: .8em 1em;
    }
}

.widget ul,
.widget ol {
	padding: 0 1em .5em 1em;
	margin: 0;
	font-family: "Fira Sans", sans-serif;
	list-style-type: none;
}

.site-content .widget li {
	display: block;
	padding: .2em 0;
}

.widget li ul,
.widget li ol {
	margin-left: .5em;
}

.widget li:last-child {
	padding-bottom: .35em;
}

@media screen and (min-width: 30em) {
	.widget li ul,
	.widget li ol {
		margin-left: 1em;
	}
}

.widget a {
	font-weight: 700;
	text-decoration: none;
}

.widget a:hover,
.widget a:focus {
	text-decoration: underline;
}

/* Make sure select elements fit in widgets. */
.widget select {
	width: 100%;
	padding: .5em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: border-box;
	width: 100%;
	padding: .5em 1em;
	border: 1px solid #c3c3c3;
	border-radius: 0;
        background-color: #fff;
}

/* Archive and Categories widgets */

.widget_archive .widget-title {
}

.streetsheet-styled-select {
    position: relative;
}

.streetsheet-styled-select:before {
    content: '\f0d7';
    font-family: FontAwesome;
    color: #000;
    display: inline-block;
    position: absolute;
    right: 1em;
    top: .8em;
    pointer-events: none;
}

.widget_archive li {
	color: #808080;
}

.widget_categories .children {
	padding-top: 0;
	padding-bottom: .5em;
}


/* Search widget. */
.widget_search {
    margin-top: 0em;
}

.widget_search .search-submit {
    display: none;
}

/* Pages and Menu widgets */

.widget_pages .children,
.widget_nav_menu .sub-menu {
	padding-top: 0;
	padding-bottom: .5em;
}

.widget_pages a,
.widget_nav_menu a{
	display: block;
	padding: 1em 0;
	border-bottom: 1px solid #c3c3c3;
}

.site-content .widget_pages li,
.site-content .widget_nav_menu li{
	padding: 0;
}

.site-content .widget_pages li:last-child,
.site-content .widget_nav_menu li:last-child{
    margin-bottom: .5em;
}

/* Meta widget */
.site-content .widget_meta li {
	padding: .3em 0;
}

/* RSS widget */


.widget_rss li {
	margin-bottom: 1em;
}
.widget li a.rsswidget {
	padding-right: .5em;
}

.rss-date,
.widget_rss cite {
	color: #333;
}

.rssSummary {
	padding: .5em 0;
	font-family: "Merriweather", serif;
}

/* Search widget */

.widget_search input[type="search"] {
	box-sizing: border-box;
	width: 100%;
	padding: .5em 1em;
	border: 1px solid #c3c3c3;
	border-radius: 0;
        -webkit-appearance: none;
	-webkit-border-radius: 0px;
}

/* Calendar widget */

.widget_calendar {
	font-family: "Fira Sans", sans-serif;
}

.widget_calendar caption {
	padding: .5em 0;
	font-weight: 700;
	text-align: left;
}

.widget_calendar thead {
	background: #333;
	color: #fff;
}

.widget_calendar thead th {
	border-bottom-width: 2px;
}

.widget_calendar td {
	padding: .2em;
	text-align: center;
	background: #d6d6d6;
	border: 3px solid white;
}

.widget_calendar th {
	border: none;
}

.widget_calendar .pad {
	background: #eaeaea;
}

/* Text widget */

.textwidget {
}


/* Custom Recent Comments and Recent Posts widgets */

.widget_streetsheet_recent_comments ul,
.widget_streetsheet_recent_posts ul {
	margin-top: 2em;
	margin-bottom: 0;
	padding-bottom: 0;
}
.site-content .widget_streetsheet_recent_comments li,
.site-content .widget_streetsheet_recent_posts li {
	position: relative;
	padding: 0 0 1em 70px;
	margin-bottom: 2em;
	border-bottom: 1px solid #c3c3c3;
}

.widget_streetsheet_recent_comments li:last-child,
.widget_streetsheet_recent_posts li:last-child {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}

.widget_streetsheet_recent_comments a,
.widget_streetsheet_recent_posts a {
	display: block;
}

.widget_streetsheet_recent_comments a:hover,
.widget_streetsheet_recent_comments a:focus,
.widget_streetsheet_recent_posts a:hover,
.widget_streetsheet_recent_posts a:focus {
	text-decoration: none;
	border-bottom: none;
}
.widget_streetsheet_recent_comments .post-icon,
.widget_streetsheet_recent_posts .post-icon {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
}

.widget_streetsheet_recent_comments .post-icon img {
	border-radius: 50px;
}

.widget_streetsheet_recent_comments .title,
.widget_streetsheet_recent_comments .original-title{
	margin-top: 0;
	margin-bottom: .8em;
}

.widget_streetsheet_recent_comments .excerpt {
	margin-top: 0;
	margin-bottom: .8em;
	font-family: "Merriweather", serif;
}

.widget_streetsheet_recent_comments .excerpt::before {
	content: "“";
}

.widget_streetsheet_recent_comments .excerpt::after {
	content: "”";
}

.widget_streetsheet_recent_comments .original-title {
	color: #808080;
	font-weight: 500;
}

.widget_streetsheet_recent_comments .original-title span {
	font-weight: normal;
	font-style: italic;
}

.widget_streetsheet_recent_comments a:hover .original-title,
.widget_streetsheet_recent_comments a:focus .original-title {
	color: #000;
	text-decoration: underline;
}

/* Custom Recent Posts widget */

.widget_streetsheet_recent_posts .post-icon {
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background: #333333;
}

.widget_streetsheet_recent_posts .title {
	margin: 0;
}

.widget_streetsheet_recent_posts .meta {
	margin: 0 0 .8em;
	text-transform: uppercase;
	color: #808080;
}

.widget_streetsheet_recent_posts a:hover .title,
.widget_streetsheet_recent_posts a:focus .title {
	text-decoration: underline;
}