.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	position: relative;
}

.main-navigation ul ul {
	display: none;
	margin-left: 0.8em;
}

.main-navigation a {
	position: relative;
	display: block;
	padding: 1em 1.2em;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #fff;
}

.main-navigation a,
.main-navigation ul ul li:lastchild a {
	border-bottom: 1px solid white;
}

.main-navigation ul li:last-child a {
	border-bottom: none;
}

.main-navigation ul .toggled-on {
	display: block;
}

.main-navigation li {
	border-top: 1px solid #eaeaea;
	border-top: 1px solid rgba(51, 51, 51, 0.1);
	position: relative;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	font-weight: 500;
}

.main-navigation .menu-primary-container > ul > li:first-child,
.main-navigation .menu-primary-container > li:first-child {
	border-top: 0;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a{
	padding-right: 48px;
}

.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle {
	position: absolute;
	height: 27px;
	width: 27px;
	top: 12px;
	right: 6px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
	font-family: 'FontAwesome';
	background-color: transparent;
        border: 0px;
	content: "";
	color: #fff;
	text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */
        outline:none;
}

.dropdown-toggle:after {
	content: "\f078";
	font-size: 14px;
	line-height: 27px;
	position: relative;
	top: 0;
	left: 1px;
	width: 27px;
}

.dropdown-toggle:active,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
	color: #fff;
        border: 0px;
}

.dropdown-toggle.toggle-on:after {
	content: "\f077";
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
        outline:none;
}

.menu-toggle {
	position: fixed;
	z-index: 100;
	bottom: 1em;
	left: 1em;
	text-transform: uppercase;
	background-color: #008EAC;
	color: #fff;
	border: solid 2px #008EAC;
	transition: all ease-out 400ms;
}

/*.menu-toggle.hide {
	bottom: -3em;
}*/

/* Make sure the button doesn't hide when menu is open. */

/*.toggled .menu-toggle.hide {
	bottom: 1em;
}*/

.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle:active {
	text-decoration: none;
        background-color: #008EAC;
        border: solid 2px #008EAC;
        color: #fff;
}

@media screen and (min-width: 60em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

/* Hovering menu */

.main-navigation.toggled {
	position: fixed;
	bottom: 0;
	padding: 1em;
	z-index: 11;
        
        & > .menu-primary-container {
            padding: 1em;
            margin-bottom: 3em;
            background-color: #008EAC;
        }
}

.main-navigation.toggled ul {
	max-height: calc(100vh - 8em);
	overflow-y: auto;
}

.main-navigation.toggled ul ul {
	display: none;
}

.main-navigation.toggled ul ul.toggled-on,
.main-navigation.toggled ul ul.toggled-on > ul {
	display: block;
}

/* Horizontal menu on wide screens */
@media screen and (min-width: 60em) {
	
	/* Position the menu in the header */
	.main-navigation,
	.main-navigation.toggled {
		position: relative;
		margin: 0 auto;
		background-color: #000;
	}
	
	.menu-primary-container {
		padding: .5em;
		background-color: #000;
	}
	
	.main-navigation ul,
	.main-navigation.toggled ul {
		max-height: none;
		padding-left: 0;
		text-align: center;
	}
	
	.main-navigation.toggled ul {
		overflow-y: visible;
	}
	
	/* Display the menu items in a horizontal order */
	.main-navigation li {
		display: inline-block;
		border: none;
	}
	
	/* Add an outline to the drop-down menus */
	.main-navigation ul ul {
		outline: 0px;
	}
	
	/* Left-align drop-down menu items */
	.main-navigation li li {
		display: block;
		text-align: left;
	}
	
	.main-navigation a,
	.main-navigation ul ul li:last-child a {
		border-bottom: none;
	}
	
	/* Add an outline on hovered and focused menu items */
	.main-navigation a:hover,
	.main-navigation a:focus {
		color: #fff;
		text-decoration: none;
	}

	/* Create hover and focus contrast on drop-down items */
	.main-navigation li li a:hover,
	.main-navigation li li a:focus {
		color: #fff;
		text-decoration: none;
	}
	
	/* Position drop-down menus absolutely */
	.main-navigation ul ul.toggled-on {
		position: absolute;
		width: 12em;
		display: block;
		z-index: 11;
		margin-left: 0;
		background: #008EAC;
                margin-top: 0.5em;
	}
	
	.main-navigation ul ul ul.toggled-on {
		position: relative;
	}
	
	/* Indent 3rd level drop-down menus */
	.main-navigation ul ul ul a {
		padding-left: 2em;
	}
	
	/* Simplify the drop-down toggle */
	.dropdown-toggle {
		top: 11px;
		right: 12px;
		border: none;
	}
	
	.dropdown-toggle::after {
		line-height: 27px;
		width: 27px;
	}
	
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.2em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
        color: #008EAC;
        font-family: 'FontAwesome';
        &:before {
            content: "\f177";
            font-size: 14px;
            line-height: 27px;
            position: relative;
            top: 0;
            left: 1px;
            width: 27px;
        }
}

.comment-navigation .nav-previous-none,
.posts-navigation .nav-previous-none,
.post-navigation .nav-previous-none {
	float: left;
	width: 50%;
        color: #eee;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: right;
	width: 50%;
        color: #008EAC;
        font-family: 'FontAwesome';
        &:after {
            content: "\f178";
            font-size: 14px;
            line-height: 27px;
            position: relative;
            top: 0;
            left: 1px;
            width: 27px;
        }
}

.comment-navigation .nav-home-only,
.posts-navigation .nav-home-only,
.post-navigation .nav-home-only {
    width: 100%;
    text-align: center;
}

.nav-links a {
    font-family: $font__headings;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.streetsheet-breadcrumbs {
    margin: .5em 0 1em 1em;
    a {
        padding: 0;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

// Hide breadcrumbs on smaller screen widths
@media screen and (max-width: 50em) {
    .streetsheet-breadcrumbs {
        display: none;
    }
}

.streetsheet-donate a {
    background-color: #00AC5C;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-left:2em;
    padding-right:2em;
    margin-left:1em;
    margin-right:1em;
    &:hover,
    &:focus {
        background-color: #00AC5C;
        text-decoration: none;
    }
}

.streetsheet-coh {
    padding-right: 1em;
}

a.back-to-top {
	width: 45px;
	height: 45px;
	position: fixed;
	z-index: 999;
	right: 1.1em;
	bottom: 1em;
	background: #008EAC;
        color: #fff;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
}