.site-content {
    font-size: 1.125em;
    line-height: 1.6em;
    background-color: #eee;
    padding: 1em;
}

.site-main {
    font-size: .8em;
    line-height: 1.6em;
}

@media screen and (min-width: 40em) {
    .site-main {
        font-size: 1em;
    }
}