.site-content {
    background-color: #eee;
    padding: .5em 1em;
}

@media screen and (max-width: 50em) {
    .site-content {
        padding: 1em;
        font-size: .9em;
    }
    .site-logo {
        margin-bottom: -.5em;
    }
    .widget_search input[type="search"], .widget_archive select {
        font-size: 1em;
    }
}