.site-header {
    background-color: #fff;
    background-size: cover;
}

.site-branding {
    text-align: center;
}

.site-title a {
    text-decoration: none;
    color: inherit;
}

.site-title a:hover,
.site-title a:focus {
    text-decoration: underline;
}

.site-description {
    margin: 1.2em 2em 0em;
    color: #999;
}

.site-logo img {
    display: block;
    margin: 0 auto;
    margin-top: .5em;
    margin-bottom: 1.5em;
}

@media screen and (max-width: 50em) {
    .site-description {
        margin-top: .8em;
        font-size: .9em;
    }
}

@media screen and (max-width: 30em) {
    .site-description {
        display: none;
    }
    .site-logo img {
        max-width: 50%;
        margin-top: 1em;
    }
}

.streetsheet-header-links {
    background-color: #fff;
    position: relative;
}

.streetsheet-read-issue-link {
    text-align: left;
    display: inline-block;
    position: absolute;
    margin-left: 1em;
    left: 0;
}

.streetsheet-social-media-links {
    text-align: right;
    display: inline-block;
    position: absolute;
    margin-right: 1em;
    right: 0;
    i {
        padding-left: .2em;
        padding-top: .7em;
    }
}

.streetsheet-social-media-links-mobile {
    display: none;
    text-align: center;
    i {
        padding: 0 .5em 0em .5em;
        margin-bottom: .7em;
        border-right: 1px solid #000;
    }
    i:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 60em) {
    .streetsheet-social-media-links-mobile {
        display: block;
    }
    .streetsheet-header-links {
        display: none;
    }
}