.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline {
    color: #999;
    & a {
        text-decoration: none;
        color: #999;
        &:hover,
	&:focus {
            text-decoration: underline;
	}
    }
}

.byline,
.updated:not(.published){
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

@media screen and (max-width: 50em) {
    .page-content,
    .entry-content,
    .entry-summary {
        margin: 1em 0 0;
    }
}

.entry-title {
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-size: 2em;
    color: #008EAC;
    
    a {
        text-decoration: none;
        &:hover,
	&:focus {
            text-decoration: underline;
	}
    }
    
    @media screen and (max-width: 50em) {
        font-size: 1.7em;
    }
}

.post-date {
    color: #000;
}

.entry-content {
    margin-bottom: -1.5em;
}

.post-thumbnail {
    float: right;
    height: auto;
    padding-bottom: 1em;
}
    
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.page, .type-post {
    background-color: #fff;
    .site-content a {
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.post, .type-page {
    padding: 1em;
}

.read-more-link {
    font-family: $font__headings;
    text-decoration: none;
    font-weight: bold;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}